.index * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.index h1 {
    font-size: 36px;
}

.wy-nav-content {
    min-width: 270px;
    /*background-color: #f6f6f6;*/
}

.margin-bot {
    margin-bottom: 10px !important;
}

@media (max-width: 768px) {

}

@media (max-width: 400px) {
    .index * {
        font-size: 17px !important;
    }

    .index * p,
    .index * ul {
        line-height: 22px !important;
    }
    .index * h1{
       font-size: 28px !important;
    }
}