.wy-nav-content {
    max-width: 68%;
}
.wy-side-nav-search {
    background-color: #fed136;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    color: #000000;
        font-size: 150%;
}

.wy-nav-top {
    background: #fed136;
    color: #000;
    transition: all 0.3s ease;
}

.wy-nav-top.out{
    transform: translateY(-100%);
}

.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: transparent;
}


/*Параметры для класса flexrow. Вызов через .. container:: flexrow */

.flexrow{
	display: flex;
	flex-direction: row;
	margin: -8px;
}
.flexrow img{
	padding: 0px 8px;
}

@media(max-width: 1400px){
	.flexrow{
		flex-wrap: wrap;
		top: 20px;
	}
}

/*Для скрытия больших объектов с кодом в классе codeblocksize1*/

.codeblocksize1{
    /*max-height: 480px;*/
    overflow: auto;
    margin-bottom:20px;
}

.codeblocksize1 .linenodiv pre{
	color: #c9c9c9;
}

.codeblocksize1 .code{
	width: 100%;
}

/*Замена сломанного отображения codeblock → перенести в основные стили?*/
/*theme.css 7030*/

footer a {
    color: #7e7e7e;
    font-weight: bold;
}
footer a:visited {
    color: #7e7e7e;
}
footer a:hover {
    color: #505050;
}

.field-list.simple{
    display: flex;
    flex-direction: column;
}

/*Footer → replace in footer.css or theme.css*/
.projectInfo{
    display: flex;
    flex-direction: column;
}

.projectInfo span{
    padding: 4px 0px;
}

.social{
    display: flex;
    flex-direction: column;
}

.socialIcon{
    display: flex;
    margin: 4px 0px;
}

.socialIcon a{
    height: 36px;
    margin-right: 10px;
}

.socialIcon a path{
    fill: #a1a1a1;
    transition: all 0.5s ease;
}

.socialIcon a:hover path{
    fill: #313131bd;
}


